/* styles.css */

html {
    box-sizing: border-box;
}
  
*,
*::before,
*::after {
    box-sizing: inherit;
}

/* * {
    outline: 2px solid red;
} */

p {
    color: red;
}

.parent {
    display: flex;
}

body {
    background-image: url('images/planet-earth-space-52-8k.jpg');
    background-size: cover;
    background-origin: content-box, content-box;
}

header {
    background-color: #000;
    color: white;
    padding: 1rem;
    text-align: center;
    position: relative;
}

header h1 {
    margin: 0;
    font-size: 2rem;
}

nav {
    position: relative;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

.image-container {
    position: relative;
    width: 100%;
    height: calc(100vh - 70px); /* Adjust the height based on your header height */
    overflow: hidden; /* Ensures any overflow is hidden */
}

.image-container img {
    width: 100%;
    height:100%;
    object-fit: cover; /* Makes the image cover the container */
}

footer {
    background-color: #000; 
    color: white;
    text-align: center;
    padding: 1rem;
}